@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-noto-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

html {
  font-size: 14px;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-noto-sans);
}

@layer utilities {
    .font-noto {
        font-family: var(--font-noto-sans);
    }

    .font-lato {
        font-family: var(--font-lato);
    }
}